.cord_contaier{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.card {
    width: 200px;
    height: 300px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.card-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.btn {
    padding: 5px 10px;
    border: 1px solid aqua;
    color: aqua;
    background-color: #fff;
}
.btn-group {
    margin-top: 30px;
}
.btn-group>span {
    padding: 20px;
}

.Regex {
    margin-top: 30px;
}